<!DOCTYPE html>
<html>
<head>
	<title>index.ejs</title>
</head>
<body>

	<h1>landing page</h1>

	<form>
		<input type="name" name="first name">
		<input type="name" name="last name">
		<input type="name" name="username">
	</form>

</body>
</html>