<!DOCTYPE html>
<html>
<head>
	<title>index.ejs</title>
	<link rel="stylesheet" type="text/css" href="/css/landingPage.css">
</head>
<body>

	<h1>landing page</h1>	

	<section>
		<div><a href="#">Login</a></div>
		<div><a href="#">Register</a></div>
	</section>

</body>
</html>