<!DOCTYPE html>
<html>
<head>
	<title>index.ejs</title>
	<link rel="stylesheet" type="text/css" href="/css/landingPage.css">
</head>
<body>

	<h1>landing page</h1>	

	<section class="container">
		<div><a href="/users/login"><strong>Login</strong></a></div>
		<div><a href="/users/new"><strong>Register</strong></a></div>
	</section>

</body>
</html>