<!DOCTYPE html>
<html>
<title>Login/Registration</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/landingPage.css">

<body>

    <div>
        <div>
            <h1>TRIP-PLANNER</h1>
            <hr class="w3-border-grey">
            <div class="row">
            	<h2 class="col"><a href="/users/login">Login</a></h2>
            	<h2 class="col"><a href="/users/new">Register</a></h2>
            </div>
        </div>
        <div>
        </div>
    </div>

</body>

</html>