<!DOCTYPE html>
<html>
<head>
	<title>index.ejs</title>
	<link rel="stylesheet" type="text/css" href="/css/landingPage.css">
	<link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">


</head>
<body>
	<h1>Trip Planner</h1>
	<img src="images/erik-odiin-jbQvJx2EWnU-unsplash.jpg">
		<div class="row">
    		<div class="col"><a href="/users/login">Login</div>		
			<div class="col"><a href="/users/new">Register</div>
  		</div>
</body>
</html>