body { 
/*  background-color: #267373;
  color: #f2F2F2;*/
}

h1 {
	margin: 3%;
	text-align: center;
}

h2 {
	text-align: center;
}

h4 {
	text-align: center;
}

.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}

header {
	padding: 0 15px;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;	
}

.column {
	/*flex: 1;*/
	border: 1px solid gray;
	margin: 6%;
	padding: 50px;
}

.addItem {
	display: block;
	/*margin: 5%;*/
}

.members {
	background-color: yellow;
	height: 400px;
	width: 30%;
	/*display: inline-block;*/
}

@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
	}
}

.textarea {
	height: 90px;
	resize: none;
	overflow: hidden;
}