body {
	font-family: 'Karla', sans-serif;
	background-image: url('../images/luke-chesser-PHtp0cDBJSM-unsplash.jpg');
}

h1 {
	text-align: center;
	/*background-color: #267373;*/
	opacity: 0.8;
}

nav {
	text-align: center;
	padding: 3%;
}

nav a{
	margin: 3%;
	transition: 1s;
	text-decoration: none;
	font-size: 20px;
	color: #000;
}

.line {
      position: relative;
      top: 50%;
      width: 16em;
      margin: 0 auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      font-size: 180%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;transform: translateY(-50%);
}

.anim-typewriter {
      animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.animationText {
	margin-top: 5%;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 16em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

@media only screen and (max-width: 750px) {
	nav a{
		display: block;
		margin: 10%;
	  font-size: 15px;	
	}
}

@media only screen and (max-width: 500px) {
	nav a {
		margin: 20%;
    background-color: red;
	}
}