body {
	font-family: monospace;
  background: rgb(214,202,202);
  background: radial-gradient(circle, rgba(214,202,202,1) 0%, rgba(122,117,118,1) 100%);
}

h1 {
	text-align: center;
	opacity: 0.8;
}

nav {
	text-align: center;
	padding: 3%;
}

nav a{
	margin: 3%;
	transition: 1s;
	text-decoration: none;
	font-size: 20px;
	color: #000;
}

a{
  max-width: 5px;
  word-wrap: break-word;
  color: black;
}

.textarea {  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    width: 100%;
    }

.line {
  position: relative;
  top: 50%;
  width: 16em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.navLinks a{
  color: black;
  text-decoration: none;
}

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
  blinkTextCursor 500ms steps(40) infinite normal;
}

.animationText {
	margin-top: 5%;
}

.createTripPlan {
  border: 1px solid black;
  text-align: center;
  margin: 3%;
  padding: 3%;
  display: block;
}

.createTripPlan label{
  margin: 2px;
}

@media only screen and (max-width: 750px) {
  nav a{
    display: block;
    margin: 10%;
  }
}

@media only screen and (max-width: 500px) {
  nav a {
    margin: 12%;
  }
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 16em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}
