body, html {
	height: 100%
}

body h1 {
	font-family: monospace;
}

h1 {
	text-align: center;
	color: #F2F2F2;
}

body {
  background: url('../images/erik-odiin-jbQvJx2EWnU-unsplash.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.w3-border-grey {
	margin: auto;
	width: 40%;
}

.col {
	display: inline-block;
	margin-top: 10%;
	padding: 3%;
	padding-left: 3%;
	padding-right: 3%;
}

.row {
	text-align: center;
}

.col a{
	color: white;
}

.col a::after {
	color: white;
}

form {
	text-align: center;
	color: #F2F2F2;
	border: 1px solid #F2F2F2;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	padding: 3%;
	margin-top: 10%;
	border-radius: 10%;
}

form input{
	margin: 5%;
	border: 1px solid white;
	padding: 2%;
}

form label {
	background-color: gray;
	padding: 2%;
}

.field-half1 {
	border: 1px solid white;
	border-radius: 8%;
}

.field-half2 {
	border: 1px solid white;
	border-radius: 8%;
	margin: 3%;
}

.field-half3 {
	border: 1px solid white;
	border-radius: 8%;
}

.btn {
	margin: 4%;
	width: 40%;
	padding: 3%;
}

h2 {
	text-align: center;	
	color: #F2F2F2;
}

.signIn {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60%;
	transform: translateX(-50%) translateY(-50%);
	border: 1px solid black;
	border-radius: 5px;
	padding: 3em;
}