/*body {
	font-family: 'Karla', sans-serif;
	background: rgb(214,202,202);
    background: radial-gradient(circle, rgba(214,202,202,1) 0%, rgba(122,117,118,1) 100%);
}

h1 {
	color: #000;
	text-align: center;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	height: auto;
}

.container {
	width: 50%;
	margin: 30px auto;
}

div a{
	color: #000;
	font-size: 25px;
	text-decoration: none;
	display: inline-block;
}

.navLink {
  color: black;
  text-decoration: none;
}

div a::after {
 	content: '';
 	display: inline-block;
 	width: 0;
 	height: 2px;
 	transition: width .3s;
 	background-color: #000;
 }

div a:hover::after {
 	width: 100%;
 	transition: width .3s;
}

.col {
	display: inline-block;
	margin-left: 28%;
	margin-top: 10%;
}

.signIn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border: 1px solid black;
	border-radius: 5px;
	padding: 3em;
}

h2 {
	font-weight: lighter;
	color: #616161;
	font-size: 50px;
	text-align: center;
	margin-top: 0px;
}

input {
	display: block;
	width: 320px;
	height: 50px;
	background-color: rgba(0,0,0,0.3);
	outline: none;
	border: 1px solid rgba(0,0,0,0.5);
	font-family: Source Sans Pro;
	font-weight: lighter;
	font-size: 14px;
	margin-bottom: 10px;
	padding-left: 10px;
	border-radius: 5px;
}

button {
	width: 332px;
	height: 50px;
	font-size: 16px;
	background-color: #000;
	font-weight: lighter;
	color: #F2F2F2;
	border: 0px;
	border-radius: 5px;
}


@media only screen and (max-width: 810px) {
	img {
		width: 100%;
	}
	.col {
		background-color: #F2F2F2;
		width: 100%;
		margin-top: 5%;
	}
}
*/

body, html {
	height: 100%
}

body h1 {
	font-family: monospace;
}

h1 {
	text-align: center;
	color: #F2F2F2;
}

body {
  background: url('../images/erik-odiin-jbQvJx2EWnU-unsplash.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.w3-border-grey {
	margin: auto;
	width: 40%;
}

.col {
	display: inline-block;
	margin-top: 10%;
	padding: 3%;
	padding-left: 3%;
	padding-right: 3%;
}

.row {
	text-align: center;
}

.col a{
	color: white;
}

.col a::after {
	color: white;
}

form {
	text-align: center;
	color: #F2F2F2;
	border: 1px solid #F2F2F2;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	padding: 3%;
	margin-top: 10%;
	border-radius: 10%;
	/*background-color: gray;*/
}

form input{
	margin: 5%;
	border: 1px solid white;
	padding: 2%;
}

form label {
	background-color: gray;
	padding: 2%;
}

.field-half1 {
	border: 1px solid white;
	border-radius: 8%;
}

.field-half2 {
	border: 1px solid white;
	border-radius: 8%;
	margin: 3%;
}

.field-half3 {
	border: 1px solid white;
	border-radius: 8%;
}

.btn {
	margin: 4%;
	width: 40%;
	padding: 3%;
}

h2 {
	text-align: center;	
	color: #F2F2F2;
}


































