<!DOCTYPE html>
<html>
<head>
	<title>FAQ Page</title>
	<link rel="stylesheet" type="text/css" href="/css/createTrip.css">
</head>
<body>

	<a href="/homePage" class="navLink">Home</a>
	<a href="/logout" class="navLink">Logout</a>

	<h1>FAQ Page</h1>

	<h3>Common Questions</h3>
	<h5>Why use this app?</h5>
	<li>This app is great for organizing trips with your friends. I takes the hastle
		out of trying to make crazy plans and making 16 phone calls just to make it happen. With this app, everything can be organized in the palm of your hand or just the lesiure of sitting at your computer screen.</li>

	<h3>Login Issues</h3>
	<h5>I can't remember my Login. What do I do?</h5>

	<p>Click <a href="/new">here</a> to make a new account</p>

	<h3>App Usage</h3>
	<h5>I want to add a member. What do I do?</h5>
	<ol>
		<li>First create a trip</li>
		<li>Click on Add member section and add members</li>
		<li>Reminder: You must be logged in and user you add must have an account with us</li>
		<li>Click <a href="/trips/createTripPlan">this</a> to create your trip and add your friends!</li>
	</ol>

</body>
</html>