<!DOCTYPE html>
<html>
<head>
	<title>Create Trip - Plan Trip</title>
</head>
<body>

	<h1>Create Trip - Plan Trip</h1>

	Destination: <input type="text" name="place"/> <br>    
	Destination Length (Days): <input type="number" name="destinationLength"/> <br>   
	Number of People: <input type="number" name="people"/> <br>
	Dates: <input type="date" name="date"/>
	<br>
	<br>
	Start Your Trip: <input type="submit" name="submit">

</body>
</html>