<!DOCTYPE html>
<html>
<head>
	<title>Test Landing Page</title>
	<link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/homePage.css">
</head>
<body>

	<a href="/users">Home</a>
	<a href="/users/new">Register</a>
	<a href="/users/logout">Logout</a>

	<h1>HOME PAGE</h1>

	<nav>
		<a href="createTrip">Create Trip</a>
		<a href="#">Show My Trips</a>
		<a href="#">FAQ</a>
		<a href="#">Suggestions</a>
		<a href="#">Check out Destinations</a>
	</nav>

</body>
</html>