<!DOCTYPE html>
<html>
<head>
	<title>Test Landing Page</title>
	<link rel="stylesheet" type="text/css" href="/css/homePage.css">
</head>
<body>

	<a href="/users/homePage" class="navLink">Home</a>
	<a href="/users/logout" class="navLink">Logout</a>

	<h1>HOME PAGE</h1>
	<header>
	<nav>
		<a href="/trips/createTripPlan">Create Trip</a>
		<a href="/trips/showAllMyTrips">Show My Trips</a>
		<a href="#">FAQ</a>
		<a href="#">Suggestions</a>
	</nav>
	</header>

<!-- 	<div class="animationText">
		<p class="line anim-typewriter">Lets Start Your Journey!</p>
	</div> -->
	<!-- <div class="w3-row"> -->
    <!-- <div class="w3-half"> -->
    <div class="row">
    	<div class="column">
    		<img src="../images/erik-odiin-jbQvJx2EWnU-unsplash.jpg">
    		<img src="../images/erik-odiin-jbQvJx2EWnU-unsplash.jpg">
    		<img src="../images/erik-odiin-jbQvJx2EWnU-unsplash.jpg">
    		<img src="../images/erik-odiin-jbQvJx2EWnU-unsplash.jpg">
    		<img src="../images/erik-odiin-jbQvJx2EWnU-unsplash.jpg">
    		<img src="../images/erik-odiin-jbQvJx2EWnU-unsplash.jpg">
    	</div>
    </div>
    <!-- </div> -->
  <!-- </div> -->
  
<!-- End Page Content -->
</div>

</body>
</html>