<!DOCTYPE html>
<html>
<head>
	<title>Test Landing Page</title>
	<link rel="stylesheet" type="text/css" href="/css/homePage.css">
</head>
<body>

	<a href="/users/homePage">Home</a>
	<a href="/users/logout">Logout</a>

	<h1>HOME PAGE</h1>

	<nav>
		<a href="/trips/createTripPlan">Create Trip</a>
		<a href="tripIndex">Show My Trips</a>
		<a href="#">FAQ</a>
		<a href="#">Suggestions</a>
		<a href="#">Check out Destinations</a>
	</nav>

	<div class="animationText">
		<p class="line anim-typewriter">Lets Start Your Journey!</p>
	</div>
</body>
</html>