<!DOCTYPE html>
<html>
<head>
	<title>User Register Page</title>
</head>
<body>

	<h1>User Register Page</h1>

	<form action="/users/new" method="POST">
		<label>Email</label>
		<input type="email" name="email">
		<label>Username</label>
		<input type="text" name="text">
		<label>Password</label>
		<input type="password" name="password">
		<input type="submit" name="submit">
	</form>

</body>
</html>