<!DOCTYPE html>
<html>
<head>
	<title>User Register Page</title>
</head>
<body>
	<a href="/users">Home</a>
	<a href="/users/new">Register</a>
	<a href="/users/logout">Logout</a>
	<h1>User Login Page</h1>

	<form action="/users/login" method="POST">
		<label>Username</label>
		<input type="text" name="username"><br>
		<label>Password</label>
		<input type="password" name="password"><br>
		<button type="submit">Login</button>
	</form>

</body>
</html>