<!DOCTYPE html>
<html>
<head>
	<title>User Register Page</title>
	<link rel="stylesheet" type="text/css" href="/css/landingPage.css">

</head>
<body>
	<a href="/users">Home</a>
	<a href="/users/new">Register</a>	

	<h2>
		<%= message %>
	</h2>

	<article id="contact">
			<form action="/users/login" method="POST">
			<h2>Login</h2>
				<div class="field-half2">
					<label>Enter Username</label>
					<input type="text" name="username" placeholder="Enter Username" />
				</div>
				<div class="field-half3">
					<label>Enter Password</label>
					<input type="password" name="password" placeholder="Enter Password">
				</div>
				<button class="btn" type="submit">Login</button>
			</form>
	</article>

</body>
</html>