<!DOCTYPE html>
<html>
<head>
	<title>User Register Page</title>
	<link rel="stylesheet" type="text/css" href="/css/landingPage.css">

</head>
<body>
	<a href="/users">Home</a>
	<a href="/users/login">Login</a>

	<div class="signIn">
		<h1>Register</h1>
		
		<form action="/users" method="POST">
			<label>Enter Email</label>
			<input type="email" name="email">

			<label>Enter Username</label>
			<input type="text" name="username">

			<label>Enter Password</label>
			<input type="password" name="password">
			<button class="btn" type="submit">Register</button>
		</form>
	</div>

</body>
</html>