<!DOCTYPE html>
<html>
<head>
	<title>User Register Page</title>
	<link rel="stylesheet" type="text/css" href="/css/landingPage.css">

</head>
<body>
	<a href="/users">Home</a>
	<a href="/users/login">Login</a>

	<article id="contact">
			<form action="/users" method="POST">
				<div class="field-half1">
					<label>Enter Email</label>
					<input type="email" name="email" />
				</div>
				<div class="field-half2">
					<label>Enter Username</label>
					<input type="text" name="username" />
				</div>
				<div class="field-half3">
					<label>Enter Password</label>
					<input type="password" name="password">
				</div>
				<button class="btn" type="submit">Register</button>
			</form>
	</article>


</body>
</html>