<!DOCTYPE html>
<html>
<head>
	<title>User Register Page</title>
</head>
<body>
	<a href="/users">Home</a>
	<a href="/users/login">Login</a>
	<h1>User Register Page</h1>

	<form action="/users" method="POST">
		<label>Email</label>
		<input type="email" name="email">
		<label>Username</label>
		<input type="text" name="username">
		<label>Password</label>
		<input type="text" name="password">
		<button type="submit">Login</button>
	</form>

</body>
</html>