<!DOCTYPE html>
<html>
<head>
	<title>Add Members Page</title>
</head>
<body>

	<h1>Add Members Page</h1>

	<h4>Reminder: The user that you add must have an account with this app</h4>

	<form action="/trips/addMembers" method="POST">
		Username: <input type="text" name="username">
		<input type="submit" name="submit" value="Add Member">
	</form>

</body>
</html>