<!DOCTYPE html>
<html>
<head>
	<title>Add Members Page</title>
</head>
<body>

	<h1>Add Members Page</h1>

	<form>
		Username: <input type="text" name="username">
		<input type="submit" name="submit">
	</form>

</body>
</html>