<!DOCTYPE html>
<html>
<head>
	<title>Create Trip - Plan Trip</title>
	<!-- <link rel="stylesheet" type="text/css" href="/css/landingPage.css"> -->
</head>
<body>

	<h1>Create Trip - Plan Trip</h1>
	<form action="/trips" method="POST">
		Destination: <input type="text" name="place"/> <br>    
		Leaving: <input type="date" name="startDate"/> <br>
		Returning: <input type="date" name="returnDate"/><br>
		Description: <input type="text" name="description"><br>
		<br>
		<br>
		<br>
		<br>
    	<!-- Add Members: <input type="text" name="members"></br> -->
    	<!-- <label>Moderator</label>
    	<input type="checkbox" name="isModerator"> -->

		<input type="submit" value="Start Trip Plan">
	</form>





</body>
</html>