<!DOCTYPE html>
<html>
<head>
	<title>Create Trip Page</title>
	<link rel="stylesheet" type="text/css" href="/css/createTrip.css">
</head>
<body>
	<a href="/users">Home</a>
	<a href="/users/new">Register</a>
	<a href="/users/logout">Logout</a>

	<h1>Create Trip Page</h1>

	<div class="wrapper">

	<header>
		<h1>NAME OF USER TRIP WILL GO HERE</h1>

	</header>
		
<section class="columns">

	<div class="members">
		<h2>Members</h2>
		<!-- <li> -->
			<!-- loop through all the members that the user entered into previous form
			each member will be a link for user to edit them
				i.e. == make them a moderator -->
		<!-- </li> -->
		<button>Add Member</button>
	</div>
	
	<div class="column">
		<h2>TO DO</h2>
		<!-- <li>
		
		</li> -->
	</div>
	
	<div class="column">
		<h2>ITENERARY</h2>
		<!-- <li>
			
		</li> -->
	</div>
  
  <div class="column">
		<h2>WISH LIST</h2>
		<!-- <li>
			
		</li> -->
	</div>

	<div class="addItem">
		<button>Add Item</button>
	</div>
	
</section>

</body>
</html>