<!DOCTYPE html>
<html>
<head>

	<a href="/users/homePage">Home</a>
	<a href="/users/logout">Logout</a>

	<title>Create Trip - Plan Trip</title>
	<link rel="stylesheet" type="text/css" href="/css/homePage.css">
</head>
<body>

	<h1>Create Trip - Plan Trip</h1>
	<form action="/trips/createNewTrip" method="POST" class="createTripPlan">
		<label>Destination</label>
		<input type="text" name="place"/> <br>
		<label>Leaving</label>    
		<input type="date" name="startDate"/> <br>
		<label>Returning</label>
		<input type="date" name="returnDate"/><br>
		<label>Description</label>
		<input type="text" name="description"><br>

		<br>
		<br>

        <input type="hidden" name="">
		<input type="submit" value="Start Trip Plan">
	</form>





</body>
</html>