<!DOCTYPE html>
<html>
<head>

	<a href="/users/homePage">Home</a>
	<a href="/users/logout">Logout</a>

	<title>Create Trip - Plan Trip</title>
	<link rel="stylesheet" type="text/css" href="/css/landingPage.css">
</head>
<body>

	<h1>Create Trip - Plan Trip</h1>

	<div class="signIn">
		<form action="/trips/tripHomePage/" method="POST">
			<label>Destination</label>
			<input type="text" name="destination">

			<label>Leaving</label>
			<input type="date" name="startDate">

			<label>Returning</label>
			<input type="date" name="returnDate">

			<label>Description</label>
			<input type="text" name="description">

			<input type="hidden" name="">
			<input type="submit" value="Submit Trip Plan">
		</form>
	</div>





</body>
</html>