<!DOCTYPE html>
<html>
<head>
	<title>Create Trip Page</title>
	<link rel="stylesheet" type="text/css" href="/css/createTrip.css">
</head>
<body>
	<a href="/users">Home</a>
	<a href="/users/new">Register</a>
	<a href="/users/logout">Logout</a>

	<header>
		<!-- this should be the name of the trip that the user entered -->
		<h1><%=savedTrip.destination%> <%=savedTrip.startDate%> thru <%=savedTrip.endDate%></h1>


	</header>

	<div class="wrapper">
		
<section class="columns">

	<div class="members">
		<h2>Members</h2>

	</div>
	
	<div class="column">
		<h2>TO DO</h2>
		<textarea class='textarea'>
		</textarea>
	</div>
	
	<div class="column">
		<h2>ITENERARY</h2>
		<textarea class='textarea'>
		</textarea>
	</div>
  
  <div class="column">
		<h2>WISH LIST</h2>
		<textarea class='textarea'>
		</textarea>
	</div>

	<div class="addItem">
		<button>Add Item</button>
	</div>
	
</section>

</body>
</html>