<!DOCTYPE html>
<html>
<head>
	<title>Create Trip Page</title>
	<link rel="stylesheet" type="text/css" href="/css/createTrip.css">
</head>
<body>
	<a href="/users">Home</a>
	<a href="/users/new">Register</a>
	<a href="/users/logout">Logout</a>

	<h1>Your Trip</h1>

	<div class="wrapper">

	<header>
		<!-- this should be the name of the trip that the user entered -->
		<h1><%=savedTrip.destination%></h1>

	</header>
		
<section class="columns">
	<div class="members">
		<h2>Members</h2>

		<button>Add Member</button>
	</div>
	
	<div>
		<div class="column">
			<h6>TO DO</h6>
			<!-- <a href="/trips/createList">Add Item</a> -->
		</div>
	
		<div class="column">
			<h6>ITENERARY</h6>
		</div>
  
  		<div class="column">
			<h6>WISH LIST</h6>	
		</div>	

		<a href="/trips/createList">Add Item</a>
	</div>

</section>

</body>
</html>