<!DOCTYPE html>
<html>
<head>
	<title>Create Group Page</title>
</head>
<body>
	<h1>Create Your Group!</h1>
	<form action='' method='POST'>
		<input type="username" name="username" placeholder="insert username here">
	</form>
</body>
</html>