<!DOCTYPE html>
<html>
<head>
	<title>Create Group</title>
	<link rel="stylesheet" type="text/css" href="/css/homePage.css">
</head>
<body>

	<h1>Create Group</h1>

	<form action="/members" method="POST">
    	<label>Name</label>
    	<input type="text" name="member">
    	<label>Moderator</label>
    	<input type="checkbox" name="isModerator">
    	<input type="submit" value="Add Member">
	</form>

</body>
</html>