<!DOCTYPE html>
<html>
<head>
	<title>Create Trip - Plan Trip</title>
	<link rel="stylesheet" type="text/css" href="/css/landingPage.css">
</head>
<body>

	<h1>Create Trip - Plan Trip</h1>
	<form action="/trips" method="POST">
		Destination: <input type="text" name="place"/> <br>    
		Destination Length (Days): <input type="number" name="destinationLength"/> <br>   
		Leaving: <input type="date" name="date"/> <br>
		Returning: <input type="date" name="date"/>
		<br>
		<input type="submit" value="Start Trip Plan">
	</form>



</body>
</html>