<!DOCTYPE html>
<html>
<head>
	<title>Create Group</title>
</head>
<body>

	<h1>Create Group</h1>

	<form action="/group" method="POST">
    	<label>Name</label>
    	<input type="text" name="member">
    	<label>Moderator</label>
    	<input type="checkbox" name="isModerator">
	</form>

</body>
</html>