<!DOCTYPE html>
<html>
<head>
	<title>Create Trip - Add Members</title>
</head>
<body>

	<h1>Create Trip - Add Members</h1>

	Name: <input type="text" name="member">
	Moderator: <input type="checkbox" name="isModerator"/> <br>

	Name: <input type="text" name="member">
	Moderator: <input type="checkbox" name="isModerator"/> <br>

	Name: <input type="text" name="member">
	Moderator: <input type="checkbox" name="isModerator"/> <br>

	Name: <input type="text" name="member">
	Moderator: <input type="checkbox" name="isModerator"/> <br>

	Name: <input type="text" name="member">
	Moderator: <input type="checkbox" name="isModerator"/> <br>

	Name: <input type="text" name="member">
	Moderator: <input type="checkbox" name="isModerator"/> <br>

	Name: <input type="text" name="member">
	Moderator: <input type="checkbox" name="isModerator"/> <br>

	Name: <input type="text" name="member">
	Moderator: <input type="checkbox" name="isModerator"/> <br>

	Name: <input type="text" name="member">
	Moderator: <input type="checkbox" name="isModerator"/> <br>

	Name: <input type="text" name="member">
	Moderator: <input type="checkbox" name="isModerator"/> 
	<br>
	<br>

	<label>Add Members</label>
	<input type="submit" name="submit">

</body>
</html>