<!DOCTYPE html>
<html>
<head>
	<title>Edit Group Page</title>
</head>
<body>
	<h1>Edit Your Group!</h1>
	<form action='' method='POST'>
		<h2>Add/Remove a group member by their username</h2>
		<!-- We will also implement being able to make certain members moderators from tis page -->
		<input type="username" name="username" placeholder="insert username here">	
		<button type='submit'>Submit</button>
	</form>
</body>
</html>