<!DOCTYPE html>
<html>
<head>
	<title>Member Delete Page</title>
</head>
<body>

	<h1>Member Delete Page</h1>

	<form method='POST' action='/showMember/<%=foundMember._id%>?_method=DELETE'>
		<button type='submit'>Delete</button>
	</form>

</body>
</html>