<!DOCTYPE html>
<html>
<head>
	<title>Add New Item To List</title>
</head>
<body>

	<h1>Add New Item to List</h1>

	<form action="/items" method="POST">
		Description: <input type="text" name="description">
		<!-- <input type="submit" name="" value="add item"> -->

		<button><a href="#"></a>To Do List</button>
		<button><a href="#"></a>Itenerary</button>
		<button><a href="#"></a>Wish List</button>

	</form>

</body>
</html>