<!DOCTYPE html>
<html>
<head>
	<title>Add New Item To List</title>
</head>
<body>

	<h1>Add New Item to List</h1>

	<form action="/tripItems/createItem/<%=savedTrip._id%>" method="POST">

		
		Description: <input type="text" name="description"> 
		</br>
		</br>
		<select name='chosenList'>
			<option value='itemsToPlan'>To Do</option>
			<option value='plannedItems'>Itinerary</option>
			<option value='suggestedItems'>Suggestions</option>
		</select>

		<br>
		<br>
        <input type="hidden" name="tripId" value="<%=savedTrip._id%>">
		<input type="submit" value="submit">

	</form>

</body>
</html>