<!DOCTYPE html>
<html>
<head>
	<title>Add New Item To List</title>
</head>
<body>

	<h1>Add New Item to List</h1>

	<form action="/tripItems/createItem/<%=savedTrip._id%>" method="POST">

		
		Description: <input type="text" name="name"> 
		</br>
		</br>
		<input type="radio" name="edit" value="toDo">To Do List <br>
		<input type="radio" name="edit" value="itenerary">Itenerary <br>
		<input type="radio" name="edit" value="wishList">Wish List 

		<br>
		<br>
		<!-- we are getting the savedTrip._id from the body
		this is how we referred to getting it in our tripItemController -->
        <input type="hidden" name="tripId" value="<%=savedTrip._id%>">
		<input type="submit" value="submit">

	</form>

</body>
</html>