<!DOCTYPE html>
<html>
<head>
	<title>Your Trips</title>
	<link rel="stylesheet" type="text/css" href="/css/homePage.css">
</head>

<body>

	<h1>These are you saved trips</h1>

	<ul>
		<% for (let i = 0; i < foundTrips.length; i++) { -%>
			<a href="/trips/showAllMyTrips/<%=foundTrips[i]._id%>"><%= foundTrips[i].destination %></a>
			<p>asdf</p>
		<% } -%>
	</ul>

</body>
</html>