<!DOCTYPE html>
<html>
<head>
	<title>Trip Item Edit Page</title>
</head>
<body>

	<h1>Trip Item Edit Page</h1>

	<form action="/tripItems/<%=foundItem._id%>?_method=PUT" method="POST">
		Description: <input type="text" name="description" value="<%=foundItem.description%>">
		<input type="submit" name="submit" value='submit'>
	</form>

</body>
</html>